@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@100&display=swap");

#x-btn{
  margin: 0;
  border: 0;
  padding: 0;
  background: hsl(0, 100%, 50%);
  border-radius: 50%;
  width: 10px;
  height: 10px;
  display: flex;
  flex-flow: column nowrap;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  transition: all 150ms;
  font-size: 0px;
}
#x-btn:hover{
  font-size: 10px;
}

.close-bar{
  display: flex;
  margin-left: 40px;
  align-items: center;
  background-color: black;
  width: 120%;
  height: 25px;
  border-radius: 5px 5px 0px 0px;
  margin-bottom: -2px;

}
#x{
  text-decoration: none;
  margin-left: 3px;
}
.URLtab{
  background-color: rgb(95, 95, 95);
  width: 120%;
  height: 20px;
  display: flex;
  margin-left: 40px;
}

#url{
  background-color: rgb(128, 128, 128);
  width: 92%;
  height: 17px;
  font-size: 4.5px;
  display: flex;
  margin-left: 10px;
  justify-content:flex-start;
  align-items: center;
  margin-top: 1px;
  border: 1px solid rgb(117, 117, 117);
  border-radius: 5px 5px 5px 5px;
}

.tab-tab{
  display: flex;
  flex-direction: column;
}

#url-h1{
  margin-left: 10px;
}
#tab{
  display: flex;
  justify-content: flex-start;
  background-color: rgb(95, 95, 95);
  border: solid 1px;
  border-color: black;
  margin-left: 10px;
  border-radius: 5px 5px 0px 0px;
  height: 20px;
  width: 150px;
}

#tab-div{
  display: flex;
  justify-content: center;
  align-items: center;
}
#img-div{
  margin-left: 5px;
  display: flex;
  justify-content: center;
  align-items: center;
}

#mk{
  width: 10px;
  height: 10px;
  margin-right: 5px;
}
.tab{
  color: white;
  font-size: 13px;

}
.Naeyong{
  margin-top: -20px;
  background-color: black;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 700px;
  width: 120%;
  margin-left: 40px;
}

#face{
  width: 100px;
  height: 100px;
}


.intro-div{
  margin-left: 30px;
  display: flex;
  justify-content: center;
  flex-direction: column;
  width: 600px;
}
.intro{
  margin: 5px;
  font-size: 20px;
  background-color: #f3ec78;
  background-image: linear-gradient(45deg, #ffe5fe, #ae58f9);
  background-size: 100%;
  -webkit-background-clip: text;
  -moz-background-clip: text;
  -webkit-text-fill-color: transparent; 
  -moz-text-fill-color: transparent;
  font-family: 'Montserrat', sans-serif;
}
#hello{
  font-size: 40px;
}
#arrow{
  width: 12px;
  margin: 5px;
}

