.App {
  text-align: center;

}

.yo{
  display: flex;
  justify-content: space-between;
}


#body{
  display: flex;
  justify-content: space-between;
}

.Project1Page{
  display: flex;
  justify-content: space-between;
}
.folder-div{
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  margin: 20px;
  left: 100px;
}
#file{
  margin-top: 12px;
  width: 60px;
  height: 60px;
}
#projects, #linkedin{
  font-size: 11px;
  margin-top: 0.5px;
  margin-left: 5px;
}

#resume{
  font-size: 11px;
  margin-top: 0.5px;
  margin-left: 8px;
}

#github{
  font-size: 11px;
  margin-top: 0.5px;
  margin-left: 10px;
}

#about{
  font-size: 11px;
  margin-top: 0.5px;
  margin-left: 12px;
}
.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.AboutPage, .ProjectPage{
  display: flex;
  justify-content: space-between;
}

.About{

}